.quest header {
    background-image: url("../../Images/问卷.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
}

.choice-title {
    color: black;
}

.quest-content,
.quest header>div {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
}

.quest-content ul {
    width: 60%;
    margin: 0 auto;
}

.checkbox-input {
    padding-bottom: 10px;
}

.radio-input {
    padding: 0px 80px 0px 0px;
}

.quest-content .choice-title {
    margin: 30px 0px;
}

.quest .title-content {
    font-size: 40px;
    color: white;
    text-align: center;
}

.quest-info {
    text-align: right;
    color: white;
}

.quest-content {
    min-height: 800px;
    background-color: white;
}

.web-title {
    font-size: 24px;
    font-weight: 800;
}

.web-title a {
    margin: 0px 20px;
    color: white;
}

.web-title a:hover {
    color: #108ee9;
}

.button {
    margin-right: 60px;
}

.footer p {
    margin: 0;
    padding: 0;
}