.admin-center>.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 !important;
}

.admin-center>div>.router {
    width: 80%;
    margin: 5% auto 0 auto;
}

.admin-center>div>.router .ant-spin-nested-loading {
    background-color: white;
}

.head {
    min-height: 630px;
}

#main-menu ul li {
    list-style: none;
    color: white;
}

.user-answer-content ul {
    margin-left: 20px;
}

.user-answer-content ul li {
    list-style: square;
}

.navbar-header {
    float: left;
}

.navbar-header a {
    font-size: 25px;
    padding-left: 20px;
    font-family: "Work Sans", Arial, sans-serif;
    color: white;
}

.menu {
    background-color: #4ea5d6;
}

.menu ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #2d8abf;
}

.menu li a {
    color: white;
}

.menu li a:checked {
    text-decoration: none;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}