
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理中心</title>
</head>
<body>
    <div id="admin"> 
    </div>
    <script src="~/ReactSrc/src/build/admin.js"></script>
</body>
</html>
