
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>问卷调查</title>
</head>
<body>
    <div>
        <div id="content"></div>
    </div>
    <script src="~/ReactSrc/src/build/bundle.js"></script>
</body>
</html>
