
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理中心</title>
    <link href="~/Content/src/Css/Admin/AdminCenter.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="content"></div>
    </div>
    <script src="~/Content/src/build/bundle.js"></script>
</body>
</html>
