
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/src/Css/Admin/Index.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="login_padding" id="login_model">
            <h2>管理员账户</h2>
            <label>
                <input type="text" id="username" class="txt_input txt_input2" onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value="Your name">
            </label>
            <h2>密码</h2>
            <label>
                <input type="password" name="textfield2" id="userpwd" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="******">
            </label>
            <div class="rem_sub">
                <label>
                    <button type="button">登录</button>
                </label>
            </div>
        </div>
    </div>
</body>
</html>
