
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>填写问卷</title>
</head>
<body>
    <div id="questionnaire"> 
    </div>
    @*<script src="~/ReactSrc/src/build/questionnaire.js"></script>*@
    <script src="http://localhost:8080/questionnaire.js"></script>
</body>
</html>
